
.fb-page{
	
	float: right;
}
form{
	float:left;
	width: 100%;
}
input{
	width: 50%;
}

footer{
	background-color: black;
	text-align: center;
	color: white;
	vertical-align: middle;
	height:10%;
	position:absolute;
	bottom:0;
	width:100%;

}